* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #445877;
  background-color: whitesmoke;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: #31343d;
  padding: 1% 3% .5%;
  padding-left: 0;
}

header h1 {
  background-color: #92ccce;
  color: #31343d;
  padding-left: 5%;
  font-size: 30pt;
}

header nav ul {
  background-color: #31343d;
  list-style-type: none;
  display: flex;
  padding-top: 5%;
  font-size: 12pt;
}

header nav a {
  display: inline-block;
  background-color: #31343d;
  color: #92ccce;
  padding: 7px; /* No idea why but when I change it to % it messes up */
  padding-bottom: 0;
}

figure {
  position: relative;
  height: 175px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../../assets/images/skyline.jpg");
  background-size: cover;
  background-position: center;
}

figure h2 {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: #31343d;
  background-color: #92ccce;
}

article {
  display: flex;
  align-items: center;
  justify-content: stretch;
  padding-right: 3%;
  padding-bottom: 3%;
}

#portrait {
  height: 12%;
  width: 12%;
  padding-left: 3%;
}

article h2 {
  padding: 5.4%;
  border-right: #445877 solid;
  text-align: right;
}

article p {
  padding-left: 3%;
}

#work {
  display: flex;
  align-items: center;
  justify-content: stretch;
  padding-right: 3%;
  padding-bottom: 3%;
}

#work h2 {
  padding: 5.75%;
  border-right: #445877 solid;
  text-align: right;
}

#grid-container {
    align-items: flex-end;
    display: grid;
    column-gap: 10px;
    row-gap: 10px; 
    grid-template-columns: auto auto;
    grid-auto-rows: minmax(100px, 1fr);
    padding-left: 5%;
    width: 82%;
}

#grid-box-wide {
  min-height: 200px;
  border: 4px solid #92ccce;
  background-color: gray;
  grid-row: span 2;
  grid-column: span 2;
  background-image: url("../images/surf.jpg");
  background-size: cover;
}


.label-h3 {
  background-color: #92ccce;
  max-width: 15%;
  max-height: 25px;
  font-size: 12pt;
  padding-bottom: 20px;
}

.label-p {
  background-color: #92ccce;
  max-width: 15%;
  max-height: 25px;
  font-size: 8pt;
  padding-bottom: 0;
}

.grid-box {
    min-height: 100px;
    display: flex;
    border: 4px solid #92ccce;
    background-color: gray;
}

#led {
  background-image: url("../images/led.jpeg");
  background-size: cover;
}

#calculator {
  background-image: url("../images/calculator.jpg");
  background-size: cover;
}

#pastel {
  background-image: url("../images/pastel.jpg");
  background-size: cover;
}

#run {
  background-image: url("../images/run.jpg");
  background-size: cover;
}

#contact-me {
  display: flex;
  align-items: center;
  justify-content: stretch;
  padding-right: 3%;
}

#contact-me h2 {
  padding: 3%;
  border-right: #445877 solid;
  margin-bottom: 2%;
}

#contact-me ul {
  background-color: whitesmoke;
  list-style-type: none;
  display: flex;
  font-size: 12pt;
  padding-left: 5%;
}

#contact-me ul a {
  padding-right: 50px;
  font-size: 16pt;
}